$color-primary: #7744a2;
$color-primary-light: #b08acf;
$color-primary-lighter: #d4c8df;
$color-primary-dark: #602e8a;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-warning: red;


$border-radius-1: 1.5rem;
$border-radius-2: 1rem;

$box-shadow-1: .5rem 1rem 1rem rgba(0, 0 , 0, .5);
