.cityHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include page-transition-animation(slow);
    width: 100%;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-content: center;
    }


    &__icon {
        width: 15rem;
        @include respond(phone) {
            width: 20rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include respond(phone) {
            flex: 0 0 100%;
            order: 1;
        }
        

        &-title {
            font-size: 4rem;
            font-weight: bold;
            color: $color-primary-dark;
            @include respond(phone) {
                margin: 3rem;
                font-size: 6rem;
                text-align: center;
            }
        }

        &-temp {
            font-size: 2.5rem;
            font-weight: 600;
            @include respond(phone) {
                font-size: 4rem;
            }
        }

        &-text {
            font-size: 1.5rem;
            @include respond(phone) {
                font-size: 2rem;
            }
        }

        &-container {
            display: flex;
            align-items: center;
        }

        &-subContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


    }
}