.tempCheckBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &__title {
        font-size: 1.8rem;
        color: $color-primary-light;
        font-weight: bold;
    }

    &__img {
        height: 5rem;
        transition: all .3s;
    };

    &:hover &__img {
        transform: scale(1.3);
    }
    

}