.favoriteHeart {
    position: relative;
    height: 7rem;
    width: 7rem;
    -webkit-mask-image: url(../../assets/images/heart1.svg);
    mask-image: url(../../assets/images/heart1.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: all .2s;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: translateY(3px);
    }

}

