.App {
    background-image: url('./assets/images/bgImageDeskx1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 100vh;

    @media screen and (max-width: 56.25em) {
        background-image: url('./assets/images/bgImageMob.jpg');
    }

    @media screen and (min-width: 75em) and (min-resolution: 192dpi){
        background-image: url('./assets/images/bgImageDeskx2.jpg');
    }
}
